---
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<form action="/api/auth/signin" class="space-y-4">
  <div class="space-y-2 w-full">
    <label for="email" class="text-zinc-300 text-xl">Email</label>
    <input
      type="email"
      class="bg-zinc-700 w-full text-zinc-300 rounded-lg py-2 px-4"
    />
  </div>

  <div class="space-y-2 w-full">
    <label for="password" class="text-zinc-300 text-xl">Contraseña</label>
    <input
      type="password"
      class="bg-zinc-700 w-full text-zinc-300 rounded-lg py-2 px-4"
    />
  </div>

  <button
    class="w-full py-2 rounded-lg text-xl bg-indigo-950 hover:bg-gradient-to-r hover:from-indigo-950 hover:to-zinc-900"
    type="submit">Iniciar sesión</button
  >
</form>
